
//dimensiones
$tamano-titulo: 250px;




//colores
$color1: black;
$color2: honeydew;
$color3: #e2bef0;
$color3: #ff86ebc9;
$color4: rgb(179, 123, 179);
$color5: #db80cfb9;
$color-principal: blueviolet;
$colorfondo1: rgb(255,205,205);
$colorfondo2: linear-gradient(90deg, rgba(255,205,205,1) 24%, rgba(83,112,190,1) 89%);

